<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		<!-- inject:css -->
		<!-- endinject -->
	</head>

	<body>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<!-- inject:js -->
		<!-- endinject -->
		<div class="top">
			<div class="top-center">
				<div class="top-center-right">
					<img src="../image/tqg5gcz2.bmp" />
					<a href="#">成为供应商</a>
				</div>
				<ul class="top-center-center">
					<li class="ul-li">
						<ul class="ul-li-ul">
							<i class="xian"></i>
							<li class="first-li">
								<a href="#"><i>我的订单</i>
									<img src="../image/xaijianjiaohao.png" alt="" />
								</a>
							</li>
							<li class="two">
								<a href="#">待付款订单</a>
							</li>
							<li>
								<a href="#">待确认收货</a>
							</li>
							<li>
								<a href="#">待评价交易</a>

							</li>
						</ul>
					</li>

					<li class="ul-li">
						<ul class="ul-li-ul">
							<i class="xian"></i>
							<li class="first-li">
								<a href="#"><i>我的收藏</i>
									<img src="../image/xaijianjiaohao.png" alt="" />
								</a>
							</li>
							<li class="two">
								<a href="#">商品收藏</a>
							</li>
							<li>
								<a href="#">店铺收藏</a>
							</li>
						</ul>
					</li>
					<li class="ul-li">
						<ul class="ul-li-ul">
							<i class="xian"></i>
							<li class="first-li">
								<a href="#"><i>客户服务</i>
									<img src="../image/xaijianjiaohao.png" alt="" />
								</a>
							</li>
							<li class="two">
								<a href="#">购物指南</a>
							</li>
							<li>
								<a href="#">售后服务</a>
							</li>
							<li>
								<a href="#">商家服务</a>

							</li>
						</ul>
					</li>
				</ul>
				<div class="top-center-left">
					<a href="login.html" class="first">您好，请登录</a>
					<a href="#" class="two">免费注册</a>
				</div>

			</div>
		</div>
		<div id="Q-nav">
			<div class="nav">
				<div class="nav-logo">
					<a href="index.html"><img src="../image/logo.png" /></a>
				</div>
				<div class="nav-search">
					<select id="val" onchange="aa()">
						<option value="请输入你要搜索的宝贝关键字">宝贝</option>
						<option value="请输入你要搜索的店铺关键字">店铺</option>
					</select>

					<input class="company" id='account' placeholder="请输入你要搜索的宝贝关键字">
					<button><a href="#">搜索</a></button>
					<p>
						<a href="#">突尼斯软籽石榴</a>
						<a href="#">野生黑枸杞</a>
						<a href="#">蒲江红心猕猴桃</a>
						<a href="#">秋木耳</a>
						<a href="#">中宁头茬红枸杞</a>
					</p>
				</div>
				<div class="nav-right">
					<ul class="nav-right-ul">

						<li class="first-li"><span class="ico"></span>
							<a href="#">购物车结算<i>&gt;</i></a>

						</li>
						<div class="car-in">
							<h4>最新加入的商品</h4>
							<div class="car-bot">
								您的购物车中暂无商品，赶紧选择心爱的商品吧！
							</div>
						</div>
						<li class="two-li"><span class="ico"></span>
							<a href="#">我的商城<i>&gt;</i></a>
						</li>
						<div class="car-on">
							<h4>
								<img src="../image/vsblqqqn.bmp"/>
								<a href="#"class="a-c">您好，请登录</a>
							</h4>
							<ul class="car-bot">
								<i><a href="#">站内消息</a></i>
								<i><a href="#">我的订单</a></i>
								<i><a href="#">咨询回复</a></i>
								<i><a href="#">我的收藏</a></i>
								<i><a href="#">我的足迹</a></i>
								<i><a href="#">我的积分</a></i>
							</ul>
						</div>

					</ul>
				</div>
			</div>
		</div>
		<div class="daohang">
			<ul class="daohang-center">
				<li class="dhc-1">
					<a href="#">所有商品分类</a>
				</li>
				<li class="dhc-2">
					<a href="#">首页</a>
				</li>
				<li class="dhc-3">
					<a href="#">TV直播</a>
				</li>
				<ul class="ul-list">
					<li class="list-t">
						<a href="#">食品</a><i>/</i>
						<a href="#">酒类</a><i>/</i>
						<a href="#">饮料</a>
						<div id="xiao-nav">
							<div id="xiao-nav-l">
								<dl>
									<dt><h5>粮油调味<i>></i></h5></dt>
									<dd>
										<a href="#">米面杂粮</a>
										<a href="#">食用油</a>
										<a href="#">调味品</a>
										<a href="#">南北干货</a>
										<a href="#">方便食品</a>
										<a href="#">有机食品</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>休闲零食<i>></i></h5></dt>
									<dd>
										<a href="#">休闲零食</a>
										<a href="#">食用油</a>
										<a href="#">坚果炒货</a>
										<a href="#">肉干果脯</a>
										<a href="#">蜜饯果干</a>
										<a href="#">糖果/巧克力</a>
										<a href="#">饼干蛋糕</a>
										<a href="#">无糖食品</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>进口食品<i>></i></h5></dt>
									<dd>
										<a href="#">纳豆制品</a>
										<a href="#">饼干蛋糕</a>
										<a href="#">糖果/巧克力</a>
										<a href="#">冲调饮品</a>
										<a href="#">粮油调味</a>
										<a href="#">牛奶</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>饮料冲调<i>></i></h5></dt>
									<dd>
										<a href="#">饮用水</a>
										<a href="#">饮料</a>
										<a href="#">牛奶乳品</a>
										<a href="#">咖啡/牛奶</a>
										<a href="#">冲调谷物</a>
										<a href="#">蜂蜜/柚子茶</a>
										<a href="#">成人奶粉</a>
										<a href="#">其他</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>食品礼券<i>></i></h5></dt>
									<dd>
										<a href="#">月饼</a>
										<a href="#">大闸蟹</a>
										<a href="#">粽子</a>
										<a href="#">卡券</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>茗茶<i>></i></h5></dt>
									<dd>
										<a href="#">铁观音</a>
										<a href="#">普洱</a>
										<a href="#">龙井</a>
										<a href="#">绿茶</a>
										<a href="#">红茶</a>
										<a href="#">乌龙茶</a>
										<a href="#">花草茶</a>
										<a href="#">花果茶</a>
										<a href="#">养生茶</a>
										<a href="#">黑茶</a>
										<a href="#">白茶</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>地方特产<i>></i></h5></dt>
									<dd>
										<a href="#">北京</a>
										<a href="#">新疆</a>
										<a href="#">山西</a>
										<a href="#">内蒙古</a>
										<a href="#">福建</a>
										<a href="#">湖南</a>
										<a href="#">四川</a>
										<a href="#">东北</a>
										<a href="#">其他特产</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>生鲜<i>></i></h5></dt>
									<dd>
										<a href="#">猪牛羊肉</a>
										<a href="#">新鲜水果</a>
										<a href="#">海鲜特产</a>
										<a href="#">禽类蛋品</a>
										<a href="#">新鲜素菜</a>
										<a href="#">速冻食品</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>酒类<i>></i></h5></dt>
									<dd>
										<a href="#">黄酒/养生酒</a>
										<a href="#">葡萄酒</a>
										<a href="#">白酒</a>
										<a href="#">洋酒</a>
										<a href="#">啤酒</a>
										<a href="#">收藏酒/陈年老酒</a>

									</dd>
								</dl>
							</div>
							<div id="xiao-nav-r">
								<a href="#"><img src="../image/ow5850f3.bmp" /></a>
								<a href="#"><img src="../image/05m8lopl.bmp" /></a>
								<a href="#"><img src="../image/k3xutwq0.bmp" /></a>
							</div>

						</div>
					</li>
					<li class="list-t">
						<a href="#">家用电器</a><i>/</i>
						<a href="#">厨房用具</a>
						<div id="xiao-nav">
							<div id="xiao-nav-l">
								<dl>
									<dt><h5>粮油调味<i>></i></h5></dt>
									<dd>
										<a href="#">米面杂粮</a>
										<a href="#">食用油</a>
										<a href="#">调味品</a>
										<a href="#">南北干货</a>
										<a href="#">方便食品</a>
										<a href="#">有机食品</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>休闲零食<i>></i></h5></dt>
									<dd>
										<a href="#">休闲零食</a>
										<a href="#">食用油</a>
										<a href="#">坚果炒货</a>
										<a href="#">肉干果脯</a>
										<a href="#">蜜饯果干</a>
										<a href="#">糖果/巧克力</a>
										<a href="#">饼干蛋糕</a>
										<a href="#">无糖食品</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>进口食品<i>></i></h5></dt>
									<dd>
										<a href="#">纳豆制品</a>
										<a href="#">饼干蛋糕</a>
										<a href="#">糖果/巧克力</a>
										<a href="#">冲调饮品</a>
										<a href="#">粮油调味</a>
										<a href="#">牛奶</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>饮料冲调<i>></i></h5></dt>
									<dd>
										<a href="#">饮用水</a>
										<a href="#">饮料</a>
										<a href="#">牛奶乳品</a>
										<a href="#">咖啡/牛奶</a>
										<a href="#">冲调谷物</a>
										<a href="#">蜂蜜/柚子茶</a>
										<a href="#">成人奶粉</a>
										<a href="#">其他</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>食品礼券<i>></i></h5></dt>
									<dd>
										<a href="#">月饼</a>
										<a href="#">大闸蟹</a>
										<a href="#">粽子</a>
										<a href="#">卡券</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>茗茶<i>></i></h5></dt>
									<dd>
										<a href="#">铁观音</a>
										<a href="#">普洱</a>
										<a href="#">龙井</a>
										<a href="#">绿茶</a>
										<a href="#">红茶</a>
										<a href="#">乌龙茶</a>
										<a href="#">花草茶</a>
										<a href="#">花果茶</a>
										<a href="#">养生茶</a>
										<a href="#">黑茶</a>
										<a href="#">白茶</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>地方特产<i>></i></h5></dt>
									<dd>
										<a href="#">北京</a>
										<a href="#">新疆</a>
										<a href="#">山西</a>
										<a href="#">内蒙古</a>
										<a href="#">福建</a>
										<a href="#">湖南</a>
										<a href="#">四川</a>
										<a href="#">东北</a>
										<a href="#">其他特产</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>生鲜<i>></i></h5></dt>
									<dd>
										<a href="#">猪牛羊肉</a>
										<a href="#">新鲜水果</a>
										<a href="#">海鲜特产</a>
										<a href="#">禽类蛋品</a>
										<a href="#">新鲜素菜</a>
										<a href="#">速冻食品</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>酒类<i>></i></h5></dt>
									<dd>
										<a href="#">黄酒/养生酒</a>
										<a href="#">葡萄酒</a>
										<a href="#">白酒</a>
										<a href="#">洋酒</a>
										<a href="#">啤酒</a>
										<a href="#">收藏酒/陈年老酒</a>

									</dd>
								</dl>
							</div>
							<div id="xiao-nav-r">
								<a href="#"><img src="../image/ow5850f3.bmp" /></a>
								<a href="#"><img src="../image/05m8lopl.bmp" /></a>
								<a href="#"><img src="../image/k3xutwq0.bmp" /></a>
							</div>

						</div>
					</li>
					<li class="list-t">
						<a href="#">珠宝首饰</a><i>/</i>
						<a href="#">时尚钟表</a>
						<div id="xiao-nav">
							<div id="xiao-nav-l">
								<dl>
									<dt><h5>粮油调味<i>></i></h5></dt>
									<dd>
										<a href="#">米面杂粮</a>
										<a href="#">食用油</a>
										<a href="#">调味品</a>
										<a href="#">南北干货</a>
										<a href="#">方便食品</a>
										<a href="#">有机食品</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>休闲零食<i>></i></h5></dt>
									<dd>
										<a href="#">休闲零食</a>
										<a href="#">食用油</a>
										<a href="#">坚果炒货</a>
										<a href="#">肉干果脯</a>
										<a href="#">蜜饯果干</a>
										<a href="#">糖果/巧克力</a>
										<a href="#">饼干蛋糕</a>
										<a href="#">无糖食品</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>进口食品<i>></i></h5></dt>
									<dd>
										<a href="#">纳豆制品</a>
										<a href="#">饼干蛋糕</a>
										<a href="#">糖果/巧克力</a>
										<a href="#">冲调饮品</a>
										<a href="#">粮油调味</a>
										<a href="#">牛奶</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>饮料冲调<i>></i></h5></dt>
									<dd>
										<a href="#">饮用水</a>
										<a href="#">饮料</a>
										<a href="#">牛奶乳品</a>
										<a href="#">咖啡/牛奶</a>
										<a href="#">冲调谷物</a>
										<a href="#">蜂蜜/柚子茶</a>
										<a href="#">成人奶粉</a>
										<a href="#">其他</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>食品礼券<i>></i></h5></dt>
									<dd>
										<a href="#">月饼</a>
										<a href="#">大闸蟹</a>
										<a href="#">粽子</a>
										<a href="#">卡券</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>茗茶<i>></i></h5></dt>
									<dd>
										<a href="#">铁观音</a>
										<a href="#">普洱</a>
										<a href="#">龙井</a>
										<a href="#">绿茶</a>
										<a href="#">红茶</a>
										<a href="#">乌龙茶</a>
										<a href="#">花草茶</a>
										<a href="#">花果茶</a>
										<a href="#">养生茶</a>
										<a href="#">黑茶</a>
										<a href="#">白茶</a>
									</dd>
								</dl>
								<dl>
									<dt><h5>地方特产<i>></i></h5></dt>
									<dd>
										<a href="#">北京</a>
										<a href="#">新疆</a>
										<a href="#">山西</a>
										<a href="#">内蒙古</a>
										<a href="#">福建</a>
										<a href="#">湖南</a>
										<a href="#">四川</a>
										<a href="#">东北</a>
										<a href="#">其他特产</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>生鲜<i>></i></h5></dt>
									<dd>
										<a href="#">猪牛羊肉</a>
										<a href="#">新鲜水果</a>
										<a href="#">海鲜特产</a>
										<a href="#">禽类蛋品</a>
										<a href="#">新鲜素菜</a>
										<a href="#">速冻食品</a>

									</dd>
								</dl>
								<dl>
									<dt><h5>酒类<i>></i></h5></dt>
									<dd>
										<a href="#">黄酒/养生酒</a>
										<a href="#">葡萄酒</a>
										<a href="#">白酒</a>
										<a href="#">洋酒</a>
										<a href="#">啤酒</a>
										<a href="#">收藏酒/陈年老酒</a>

									</dd>
								</dl>
							</div>
							<div id="xiao-nav-r">
								<a href="#"><img src="../image/ow5850f3.bmp" /></a>
								<a href="#"><img src="../image/05m8lopl.bmp" /></a>
								<a href="#"><img src="../image/k3xutwq0.bmp" /></a>
							</div>

						</div> .liv
					</li>
					<li class="list-t">
						<a href="#">个护美妆</a><i>/</i>
						<a href="#">奢侈品</a><i>/</i>
						<a href="#">箱包</a>

					</li>
					<li class="list-t">
						<a href="#">服饰内衣</a><i>/</i>
						<a href="#">流行鞋靴</a>
					</li>
					<li class="list-t">
						<a href="#">家居家装</a><i>/</i>
						<a href="#">家具陈设</a>
					</li>
					<li class="list-t">
						<a href="#">文化收藏</a><i>/</i>
						<a href="#">书画</a><i>/</i>
						<a href="#">器物</a>
					</li>
					<li class="list-t">
						<a href="#">手机</a><i>/</i>
						<a href="#">摄影数码</a><i>/</i>
						<a href="#">电脑</a>
					</li>
					<li class="list-t">
						<a href="#">营养滋补</a><i>/</i>
						<a href="#">养生护理</a>
					</li>
					<li class="list-t">
						<a href="#">运动户外</a><i>/</i>
						<a href="#">健身器材</a>
					</li>

				</ul>
			</ul>

		</div>
		<!--直播-->
		<div class="live">
			<div class="live-r">
				<ul class="live-r-ul">
					<li class="live-r-ul-l">
						<i></i>
						<a href="#" class="bg"><img src="../image/radio-1.png" /></a>
						<div class="right">
							<p>浪莎男士精品棉提花加厚保暖 ...</p>
							<span><b>¥</b>298.00</span>
							<h5>看直播</h5>
						</div>
					</li>
					<li class="live-r-ul-r"><i></i>
						<a href="#" class="tp"><img src="../image/aac841a9a481ee3e159745fe3b85b460.jpg" /></a>
						<div class="right">
							<p>ZR女士反季双面穿羊毛大衣货...</p>
							<span><b>¥</b>1280.00</span>
						</div>
					</li>
					<img src="../image/027851cc2b2da945ccc055e514f393f2-1.gif" />
				</ul>
			</div>
		</div>
		<div style="width: 100%;height: 400px;background:#d3e5f6 ;">
			<div style="width: 1200px;margin: 0 auto;height: 400px;position:relative">
				
		
		
		<div id="inner">
			<div class="hot-event">
				<div class="switch-nav">
					<a href="#" onclick="return false;" class="prev"><i class="ico i-prev"></i><span class="hide-clip">上一个</span></a>
					<a href="#" onclick="return false;" class="next"><i class="ico i-next"></i><span class="hide-clip">下一个</span></a>
				</div>
				<div class="event-item" style="display: block;">
					<a href="#" class="banner">
						<img src="../image/86cbdfd6ae51585dc940d540ac1d82dd.jpg" class="photo" style="width: 785px; height: 400px;" alt="测试用图片" />
					</a>
				</div>
				<div class="event-item" style="display: none;">
					<a href="#" class="banner">
						<img src="../image/f46143e3e181fa56947d3e8b8856dabb.jpg" class="photo" style="width: 785px; height: 400px;" alt="测试用图片" />
					</a>
				</div>
				<div class="event-item" style="display: none;">
					
					<a href="#" class="banner">
						<img src="../image/dfe24ac3b9cf364b9381c2e39faa2d52.jpg" class="photo" style="width: 785px; height: 400px;" alt="测试用图片" />
					</a>
				</div>
				<div class="event-item" style="display: none;">
					<a href="#" class="banner">
						<img src="../../image/b9d2cbc3cef1d91366d19cd75c5a73d1.jpg" class="photo" style="width: 785px; height: 400px;" alt="测试用图片" />
					</a>
				</div>
				<div class="switch-tab" style="z-index: 2;">
					<a href="#" onclick="return false;" class="current">1</a>
					<a href="#" onclick="return false;">2</a>
					<a href="#" onclick="return false;">3</a>
					<a href="#" onclick="return false;">4</a>
				</div>
			</div>
			
		</div>
		
		<div class="banner-right">
			<h2>今日最大牌</h2>
			 <a href="#">
			 	<img src="../image/8fa81399974b54efab7fcf8ce3680379.jpg"/>
			 </a>
			 <h3>金猫银猫CSmall旗舰店</h3>
			 <p>精致银壶、精美首饰，更有宝宝专区，为您精心挑选！</p>

	</div>
	</div>
	</div>
	<div id="box">
		<ul class="box-ul">
			<a href="javascript:void(0)">
				<li>
					<h3>DS高级定制</h3>
					<h5>时尚精品 专属为您</h5>
				</li>
				<img src="../image/75ae913c0444fbd498597276399f39a0.jpg"/>
			</a>
			<a href="javascript:void(0)">
				<li>
					<h3>全球卖场</h3>
					<h5>保税区直供保真</h5>
				</li>
				<img src="../image/671c3a64f38f15b6c7507e16ee4bfb27.jpg"/>
			</a>
			<a href="javascript:void(0)">
				<li>
					<h3>美肤专场</h3>
					<h5>专业专注 用心呵护</h5>
				</li>
				<img src="../image/5f8d45d18023f71d3ff150ab1b968f46.jpg"/>
			</a>
			<a href="javascript:void(0)">
				<li>
					<h3>D软籽石榴</h3>
					<h5>色艳粒大 营养丰富</h5>
				</li>
				<img src="../image/6448ec4492e575a68231512fc5ff7eea.jpg"/>
			</a>
		</ul>
	</div>
	
		<script type="text/javascript">
			$('#inner').nav({
				t: 2000,
				a: 1000
			});
		</script>

	</body>
	<script type="text/javascript">
		//当触发滚动条时，获取页面滚走的距离
		//如果页面滚走的距离 大于  头部高度时，开始 吸顶（固定定位）

		var h = 40;
		var nav = document.querySelector("#Q-nav");
		window.onscroll = function() {
			//获取页面滚走距离
			var sTop = document.documentElement.scrollTop || document.body.scrollTop;
			if(sTop > h) {
				nav.style.position = "fixed";
				nav.style.top = 0;
			} else {
				nav.style.position = "static";
			}
		}

		function aa() {
			document.getElementById('account').value = document.getElementById('val').value;
		}
	</script>

</html>